<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul>
      <li class="nav-item active">
        <%= link_to "Back to Cocktail", cocktail_path(@cocktail), class: "add-cocktail", id: "back-button" %>
      </li>
    </ul>
  </div>
</div>

<%= simple_form_for(@cocktail) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-container">
    <div class="form-inputs">
      <h5><%= f.input :name %></h5>
      <h5><%= f.input :photo, as: :file %></h5>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: "add-cocktail", id: "update-cocktail" %>
    </div>
    <% end %>
  </div>
<br>
