<%= link_to "Back to Cocktails", root_path, class: "add-cocktail", id: "back-button" %>


<div class="wrapper">
  <div class="cocktail-img">
    <% if @cocktail.photo.attached?  %>
      <%= cl_image_tag @cocktail.photo.key, height: 500, width: 400, crop: :fill %>
    <% end %>
  </div>
  <div class="cocktail-info">
    <h4><%= @cocktail.name %></h4>
    <br>
    <h5>Ingredients:</h5>
    <% @cocktail.doses.each do |dose| %>
      <li><%= dose.description %> of <%= dose.ingredient.name %></li>
      <p><%= link_to "Delete Ingredient", dose_path(dose), method: :delete, class: "edit-button" %>
    <% end  %>
    <div class="card-footer">
      <div class="card-footer-links">
        <p><%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "edit-button" %></p>
        <p><%= link_to "Edit Cocktail", edit_cocktail_path(@cocktail), class: "edit-button" %></p>
      </div>
    </div>
  </div>
</div>


