<!-- DOSES New View -->

<%= link_to "Back to Cocktail", cocktail_path(@cocktail), class: "add-cocktail", id: "back-button" %>

<div class="form-container">
  <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <div class="form-inputs">
      <%= f.input :description %>
      <%= f.association :ingredient %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: "add-cocktail", id: "create-dose"  %>
    </div>
  <% end %>
</div>

